<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Locadora_de_DVDs.Properties.Settings.BD_LocadoraConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD_Locadora.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>